# Package Files #
*.war
*.ear
*.apk

# TeX auxiliary files
*.aux
*.el
*.toc
*.pdf
*.log

# emacs stuff #
*~
auto/*

# ADT stuff (you should download this yourself; it's too big for GitHub)
src/adt-*/

# unneeded project
src/butterseal-ios/*

# ANY bin directory; these should be compiled to be created
bin/
